* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    background: #141414;
    overflow-x: hidden;
}

*,
button,
input {
    background: none;
    box-sizing: border-box;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}